<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>contact us</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="./images/logo.png" alt="Hamk logo" style="height: 25px; width: 60px; margin-right: 80px">
      <a class="navbar-brand" href="index.html">HAMK Café</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="menu.html">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="contact.html">Contact us</a>
          </li>
          <li class="nav-item">
          </li>
        </ul>
      </div>
      <a>
        <div class="reservation-button d-flex justify-content-center">Reservation</div>
      </a>
    </div>
  </nav>
  <div class="row">
    <div class="contactpage col-md-6">
      <div class="contacttext">
        <h3>Contact us</h3>
        <h4>Tel. number</h4>
        <p>+358 0504776779</p>
        <h4>Opening hours</h4>
        <p>Mon-Fri 10 am - 3 pm, Sat-Sun Closed</p>
        <h4>Location</h4>
        <p>Visamäentie 35, D-rakennus</p>
      </div>
    </div>
    <!-- Google Map Copied Code -->
    <div class="col-md-6 justify-content-center">
      <iframe class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1935.6758691532425!2d24.4766991!3d60.9774448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468e5d7f23fa3889%3A0x813624c7a75553b!2zVmlzYW3DpGVudGllIDM1IEQtcmFrZW5udXMsIDEzMTAwIEjDpG1lZW5saW5uYSwg0KTQuNC90LvRj9C90LTQuNGP!5e0!3m2!1sru!2see!4v1674989589548!5m2!1sru!2see"
        loading="fast">
      </iframe>
    </div>
  </div>
  <footer class="contact">
      <p>Socials</p>
      <img class="facebook"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/600px-Facebook_Logo_%282019%29.png"></img>
      <img class="instagram"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png"></img>
      <img class="twitter"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png"></img>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>